/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 Bootstrap Overrides
 */
.list-group-item, .list-group-item > * {
    cursor: pointer;
}

.list-group-item > .badge {
    display: none;
}

.list-group-item:not(.active):hover > .badge {
    display: block;
}

.list-group-item:hover > .badge:hover {
    background: red;
}

/*
 Chat Room
 */
.my_chat_room {
    border: 1px solid #DDD;
    margin-bottom: 10px;
    height: 300px;
    overflow-y: scroll;
}

.my_chat_block {
    clear: both;
    position: relative;
}

.my_username {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 10px;
    width: 130px;
    text-align: right;
}

.my_message {
    margin-left: 130px;
    padding-left: 10px;
    border-left: 1px solid #DDD;
}
